@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.fa {
  font-size: 40px;
  color: rgb(64, 64, 255);
  text-decoration:none;
}

.contacts {
  text-align: center;
  padding: 10%;
  margin-top: 20px;
}

.c-link {
  margin: 0px 2.5%;
  font-size: 120px;
  text-shadow: 5px 7.5px 2.5px rgba(0, 0, 139, 0.452);
}

.c-link:hover {
  color:rgb(0, 0, 155);
  /* text-shadow: 15px 15px 5px rgba(0, 0, 95, 0.452); */
}

body {
  background-color:LightSlateGrey;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: right;
  padding: 10px;
  float:center;
  border-radius: 3px;
}

.bottom-bar {
  position: fixed; /* Positions the element relative to the browser window */
  bottom: 15px;      /* Aligns the element to the very bottom of the screen */
  right: -10px;
  width: 50%;    /* Makes the bar span the full width of the screen */
  /* Additional styling for appearance */
  background-color: #130227;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 7px;
}


.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: rgb(54, 84, 114);
  color: white;
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
  border-radius: 5px;
  animation: float 1.5s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes float {
  from {transform: translateY(0px);}
  to {transform: translateY(-2px);}
}

.topnav h2 {
  font-size: medium;
  font-weight: bolder;
  color: white;
  float:inline-start !important;
  text-align: left !important;
}

.topnav a.active {
  color: deepskyblue;
}

.cookies {
  font-size: 150%;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  transition-duration: 0.15s;
  cursor: pointer;
  border-radius: 5px;
}

.accept {
  background-color: #333; 
  color: white; 
  border: 2px solid #007349;
}

.accept:hover {
  background-color: #007349;
  color: white;
  font-size-adjust: 0.5;
}

.decline {
  background-color: #333; 
  color: white; 
  border: 2px solid #ba0000;
}

.decline:hover {
  background-color: #ba0000;
  color: white;
  font-size-adjust: 0.5;
}

.slide-right {
  transform: translateX(100%);
  overflow: hidden;
  transition: transform 0.5s ease-out;
}

.hide {
  display: none !important;
}

.title {
  font-size: 5vw;
  text-align: center;
  font-family: "Iosevka Charon Mono", monospace;
  border: 5px solid rgba(0,0,0,0);
  border-radius: 10px;
  width: fit-content;
  margin:15px auto;
  padding:0px 2%;
  background-color: azure;
  /* background: linear-gradient(90deg,rgba(90, 110, 120, 1) 0%, rgba(44, 92, 69, 1) 100%); */
}

.center-text {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  overflow: hidden !important;
  font-family: "PT Serif", serif;
  font-weight: 550;
  font-style: italic;
  color: black;
}

.center-text span {
  flex: 1; 
  font-size: 250%;
  white-space: nowrap;
}

.center-text a {
  color: black;
  /* text-decoration: none; */
  /* transition: text-shadow 1s ease; */
  /* text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3); */
  animation: floatShadow 1s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes floatShadow {
  from {text-shadow: 3px 3px 2px rgba(14, 0, 82, 0.3); color:#001b1d}
  to {text-shadow: 3px 3px 2px rgba(32, 1, 39, 0.3); color: #010c25}
}

.center-text span:first-child { text-align: right; }
.center-text span:last-child { text-align: left; }

.center-text span:nth-child(2) {
  text-align: center;
  flex: 0 0 auto;
  margin: 0 200px;
}

.centered-image {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width:10%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}


.bottom-text {
  bottom: 0px;
  position: fixed;
  padding: 15px;
  background-color: rgba(6, 6, 41, 0.179);
  color: aliceblue;
  border-radius: 5px;
  width: 25%;
  overflow: hidden;
  margin-left: 2%;
}

.page { display: none; }
.page:target { display: block; } /* Show only the target */

.info-right {
  right:3%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  font-size: 700%;
  text-align: center;
  text-decoration: solid;
  text-shadow: 3px 3px 2px rgb(83, 83, 83);
}

.info-left {
  left: 3%;
  text-align: right;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  font-size: 700%;
  text-decoration: solid;
  text-shadow: 3px 3px 2px rgb(83, 83, 83);
}

.dir-arrow {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.left-data:hover::after {
  content: attr(value);
  font-size: 0.1em;
}

.right-data:hover::before {
  content: attr(value);
  font-size: 0.1em;
}

.spoiler {
  white-space: nowrap; 
  border-left: 3px solid #000000;
  width: 0px;
  overflow: hidden;
}

.spoiler:hover {
  animation: typing calc(var(--length) * 0.01s) steps(10000, end) forwards;
}

/* Typing animation */
@keyframes typing {
  from { width: 0;}
  to { width: 100%;}
}

.out-of-order {
  color: rgb(255, 0, 0) !important;
  text-shadow: 3px 3px 2px rgba(255, 0, 0, 0.5);
  cursor: not-allowed;
}

.flip {
  transform: rotate(1turn);
  overflow: hidden;
  transition: transform 0.25s ease-out;
}


.clicks {
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-top: 5%;
  width:10%;
  left:60%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: xx-large;
  background-color: rgba(12, 4, 82, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}

.click-power {
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-top: 5%;
  width:10%;
  left:60%;
  top: 40%;
  transform: translate(0, -50%);
  font-size: xx-large;
  background-color: rgba(12, 4, 82, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}


.click-shop {
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-top: 5%;
  width:10%;
  left:60%;
  top: 63%;
  transform: translate(0, -50%);
  font-size: xx-large;
  background-color: rgba(12, 4, 82, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}


.top-shop {
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-top: 5%;
  width:10%;
  left:60%;
  top: 35%;
  transform: translate(0, -50%);
  font-size: xx-large;
  background-color: rgba(12, 4, 82, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}


.green {
  outline: solid rgba(255, 0, 0, 0.5); /* Red tint */
}

.bottom-shop {
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-top: 5%;
  width:10%;
  left:60%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: xx-large;
  background-color: rgba(12, 4, 82, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}


.red {
  background-color: rgba(0, 255, 0, 0.5); /* Red tint */
}

.centerme {
  position: absolute;
  left:50%;
  top: 80%;
  transform: translate(0, -50%);
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: darkblue;
  text-decoration: underline;
}


.centermeclicked {
  position: absolute;
  left:45.5%;
  top: 80%;
  transform: translate(0, -50%);
  text-align: center;
  font-size: large;
}

.trophy {
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-top: 5%;
  width:10%;
  left:30%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: xx-large;
  background-color: rgba(12, 4, 82, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}

.gold {
    opacity: 0.5;
}

.arrayImage {
  width:25%;
  border-radius: 2px;
  margin:5px;
  background-color: white;
  outline: 2px solid #3f4162;
}

.arrayImageLarge {
  width:80%;
  border-radius: 5px;
  margin:5px;
  outline: 2px solid #3f4162;
}